<template>
  <form @submit.prevent="save">
    <div class="modal-card">
      <header class="modal-card-head">
          <p class="modal-card-title">Add New User</p>
      </header>
      <section class="modal-card-body">
        <b-field label="Name">
          <b-input v-model="user.name"></b-input>
        </b-field>

        <b-field label="E-mail">
          <b-input v-model="user.email"></b-input>
        </b-field>

        <b-field label="Role">
          <b-select v-model="user.role" placeholder="Select a role">
            <option v-for="role in roles" :value="role" :key="role">
              {{ role }}
            </option>
          </b-select>
        </b-field>
      </section>

      <footer class="modal-card-foot">
        <button class="button" type="button" @click="$parent.close()">Close</button>
        <button class="button is-primary">Save</button>
      </footer>
    </div>
  </form>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data() {
    return {
      user: {},
      roles: ['Admin', 'Developer', 'Analyst'],
    };
  },
  methods: {
    ...mapActions(['insertUser']),
    save() {
      this.insertUser(this.user)
        .then(() => {
          this.$parent.close();
        })
        .catch(console.log);
    },
  },
};
</script>
