<template>
  <div class="page">
    <h2 class="title">Your Users</h2>

    <div class="page__container">
      <div class="page__toolbar">
        <button @click="onAdd" class="button is-primary">Add New</button>
      </div>

      <b-table
        :data="users"
        striped
      >
        <template slot-scope="props">

          <b-table-column label="Name">
            {{ props.row.name }}
          </b-table-column>

          <b-table-column label="E-mail">
            {{ props.row.email }}
          </b-table-column>

          <b-table-column label="Role">
            {{ props.row.role }}
          </b-table-column>
        </template>
      </b-table>

      <b-modal :active.sync="isUserEditActive" has-modal-card>
        <edit-user-modal></edit-user-modal>
      </b-modal>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import EditUserModal from './EditUserModal';

export default {
  name: 'Users',
  components: { EditUserModal },
  data() {
    return {
      isUserEditActive: false,
    };
  },
  methods: {
    onAdd() {
      this.isUserEditActive = true;
    },
  },
  computed: {
    ...mapGetters(['users']),
  },
};
</script>

<style lang="sass" scoped>
.page
  &__toolbar
    display: flex
    justify-content: flex-end
</style>
