<template>
  <nav class="navbar is-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h2 class="title">Exceptional</h2>
      </div>
    </div>
  </nav>
</template>

<style lang="sass" scoped>
.title
  color: white
</style>
