<template>
  <aside class="sidebar menu">
    <ul class="menu-list">
      <li>
        <router-link :to="{ name: 'home' }" exact>Dashboard</router-link>
      </li>
      <li>
        <router-link :to="{ name: 'projects' }">Projects</router-link>
      </li>
      <li>
        <router-link :to="{ name: 'users' }">Users</router-link>
      </li>
    </ul>
  </aside>
</template>

<style lang="sass" scoped>
.sidebar
  width: 256px
  border-right: 1px solid #ddd
  padding-top: 18px

.menu-list a
  border-radius: 0
</style>
