<template>
  <div class="home">
    <h1 class="title">Welcome to Exception</h1>
    <p class="subtitle">A simple bug tracker application</p>
  </div>
</template>

<style lang="sass" scoped>
.home
  text-align: center
</style>
