<template>
  <div class="layout">
    <app-header />

    <div class="layout__container">
      <sidebar />
      <div class="layout__content">
        <router-view/>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import AppHeader from '@/components/AppHeader';
import Sidebar from '@/components/Sidebar';

export default {
  name: 'App',
  components: { AppHeader, Sidebar },
  created() {
    this.loadUsers();
  },
  methods: { ...mapActions(['loadUsers']) },
};
</script>

<style lang="sass" scoped>
  .layout
    height: 100%
    display: flex
    flex-direction: column
    &__container
      display: flex
      flex: 1
    &__content
      flex: 1
      padding: 16px
</style>
